.hero-content {
  height: 100vh;
  width: 100%;
  padding: 45vh 0 5vh 0;
  overflow: hidden;
}

.hero-subtitle,
.hero-title {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hero-subtitle {
  font-size: 4vw;
  line-height: 1.2;
  text-align: left;
  padding: 10px 0 0 120px;
}

.hero-title {
  font-size: 15vw;
  line-height: 1;
  padding-top: 10px;
}

.clock-locating {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 500px) {
  .hero-content {
    padding: 25vh 0 5vh 0;
  }

  .hero-title-comb {
    font-size: 23vw;
    line-height: 1.2;
    text-align: left;
    padding-left: 15px;
  }
}
