/* ───────────────────────────────────────────────────────────────────────────
   Navigation Bar
─────────────────────────────────────────────────────────────────────────── */
/* Overlay */
.nav-overlay {
  position: fixed;
  top: 30%;
  right: 0;
  width: 180px; 
  height: auto;
  pointer-events: none;
  z-index: 1000;
}

/* Overlay -> alt */
.nav-overlay.nav-alt {
  transition: all 0.1s ease;
  width: 80px;
}

/* Frosted glass BG -> alt */
.nav-overlay.nav-alt .nav-ul-container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-right: 20px;
  transition: opacity 0.4s ease, backdrop-filter 0.4s ease;
}

/* Menu-label */
.nav-label {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 300;
  color: #fff;
    transition: 
    opacity 0.4s ease,
    right 0.1s ease,
    font-size 0.1s ease,
    letter-spacing 0.1s ease,
    writing-mode 0.1s ease,
    color 0.1s ease;
  pointer-events: none;
}

/* Menu-label -> alt */
.nav-label.menu-alt {
  right: 30px;
  font-size: 20px;
  padding-right: 10px;
  transition: 
    opacity 0.4s ease,
}

/* UL container */
.nav-ul-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.nav-ul-container.items-alt li a {
  font-size: 30px;
  padding: 4px;
  transition: all 0.5s ease;
}

/* List items */
.nav-ul-container li {
  list-style: none;
}
.nav-ul-container li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background: transparent;
  font-size: 30px;
}

/* Hover items */
.nav-ul-container li a:hover {
  color: #dda50b;
}
.nav-ul-container.items-alt li a:hover {
  font-size: 40px;
  transition: all 0.3s ease;
}

/* Fade */
.fade-in {
  opacity: 1;
  pointer-events: auto;
}
.fade-out {
  opacity: 0;
  pointer-events: none;
}