* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  
}

/* Scroll Section */
section {
  scroll-snap-align: start;
}

/* App Root */
#root {
  text-align: center;
  width: 100%;
}

/* Sections */
.splits {
  height: 100vh;
  width: 100vw;
  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
    url('src/assets/diego-ph-5LOhydOtTKU-unsplash.jpg')no-repeat center center fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

/* Hero */
.hero{
  height: 100vh;
  width: 100vw;
}

.hero-wrapper {
  width: 100vw;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 60vh 0;       
  margin: 0;
}

.hero-title {
  font-size: 14.5vw;
  line-height: 1;
  text-align: left;
  width: 100vw;
  padding: 0 20px 40px;
  font-weight: 400;
}

/* About */
.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;     /* left column is narrow, right twice as wide */
  grid-template-rows: auto auto;      /* two rows */
  padding: 10vh 10vw;
  gap: 2rem;
}

.block {
  background: rgba(255, 255, 255, 0.034);
  padding: 1rem;
  border-radius: 1rem;
}

/* position the two left-hand blocks */
.block-small:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}
.block-small:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

/* make the big block span both rows on the right */
.block-large {
  grid-column: 2;
  grid-row: 1 / span 2;
}

/* Limit profile image size */
.profile-image {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%; /* Optional: makes the image circular */
  object-fit: cover;
}


