
/* ───────────────────────────────────────────────────────────────────────────
   Reset + Global
─────────────────────────────────────────────────────────────────────────── */
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;

/* background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
  url("/assets/diego-ph-5LOhydOtTKU-unsplash.jpg"); */
background-size: cover;
background-repeat: no-repeat;
background-position: center center;

scroll-behavior: smooth;


/* cursor: none;

a, button {
  cursor: none !important;
}
input,
textarea,
select,
[contenteditable] {
  cursor: none !important;
}

input:focus,
textarea:focus,
[contenteditable]:focus {
  caret-color: rgba(255, 255, 255); 
} */
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0px;
}

h2 {
  font-size: 8vw;
  padding-bottom: 50px;
}

h4{
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 300;
    transition: 
    opacity 0.4s ease,
    right 0.1s ease,
    font-size 0.1s ease,
    letter-spacing 0.1s ease,
    writing-mode 0.1s ease,
    color 0.1s ease;
  pointer-events: none;
}


/* ───────────────────────────────────────────────────────────────────────────
   Media Queries (unchanged)
─────────────────────────────────────────────────────────────────────────── */
@media (max-width: 500px) {

  h2{
    font-size: 12vw;
    text-align: center !important; 
    margin-top: 0;
    padding: 0px 0px 50px 0px;
  }
}
