:root {
  font-family: system-ui, Helvetica, sans-serif;
  color-scheme: light dark;
  background-color: #121212;
  color: rgb(255, 255, 255);
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
}






